{% extends "tiendaFullstackApp/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <h1 style="width: 75%; margin: auto; text-align: center; color: white;">Contacto</h1>
    <div style="background-color: rgb(24, 64, 8); width: 50%; margin: 10px auto; border-radius: 5px; padding: 1px 0px;">
        {% if "valido" in request.GET %}
            <p style="color: white; text-align: center;">Infomación enviada correctamente!</p>
        {% endif %}
        <form action="" method="POST" style="text-align: center;">
            {% csrf_token %}
            <table style="color: white; margin: 20px auto;">{{miFormulario.as_table}}</table>
            <input type="submit" value="Enviar" style="width: 150px;">
        </form>
    </div>
</body>
</html>
{% endblock %}