{% extends "tiendaFullstackApp/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h1 style="width: 75%; margin: auto; text-align: center; color: white;">Blog</h1>
    {% for post in posts %}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width: 65%;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower" style="color: yellow;">{{post.titulo}}</span>
                <span class="section-heading-upper" style="color: white;">{{post.contenido}}</span>
              </h2>
              <div style="text-align: left;">
                Autor: {{post.autor}}
              </div>             
            </div>
          </div>
        </div>
      </section>

    {% endfor %}
</body>
<section>
    <div style="width: 75%; margin: auto; text-align: center; color: white;">
        Categorías: 
        {% for post in posts %}
            {% for categoria in post.categorias.all %}
                <p style="color: yellowgreen;">{{categoria.nombre}}</p>
            {%endfor%}
        {% endfor %}
    </div>
</section>
</html>
{% endblock %}