{% extends "tiendaFullstackApp/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
</head>
<body>
    <h1 style="width: 75%; margin: auto; text-align: center; color: white;">Servicios</h1>
    {% for servicio in servicios %}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{servicio.imagen.url}}" alt="" style="width: 65%;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower" style="color: yellow;">{{servicio.titulo}}</span>
                <span class="section-heading-upper" style="color: white;">{{servicio.contenido}}</span>
              </h2>             
            </div>
          </div>
        </div>
      </section>

    {% endfor %}
</body>
</html>
{% endblock %}